body {
   background-color: #e8ffff;
}
hr {
color: outset #126e82;
 width: 100%;
border-width:  5px;


}
h1  {
  color : #126e82;
  font-size: 75px;
}
h3 {
 color: #126e82;
 font-size: 30px;
}
img{
  border-radius: 50%;
}
h4{font-size: 20px;
  color: #5b8a72;
}
strong{
  color:#835858;
  font-size: 17px;
}
em {
  color: #126e82;
}
a{
  text-decoration: none;
  color: #fb3640;
}
